.slick-slide img {
    height: 35rem;
    width:100%;
   border-radius: 10px;
  
}

.imgslider{
    padding: 0% 20% 5%;
    
}

.heading-slideshow{
    display: inline;
    position: relative;
    top : 80px;
    left:40px;
    font-weight: 400;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color:black;
}


/*  */