.card{
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 315px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-img img{
    border-radius: 10px 10px 0px 0px ;
}
.movie-title{
 text-align: left;
 font-size: 0.8rem;
 margin-left: 10px;
 font-family: 'Montserrat', sans-serif;
 font-weight: 100;
}

.movie-year{
 text-align: left;
 font-size: 0.7rem;
 margin-left: 10px;
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
}

.add_fav_button{
  position: relative;
  padding: 5px 10px;
  top:14px;
  border-radius: 8px;
  border: #ffffff;
}
.add_fav_button:hover{
  background-color: darkgoldenrod;
}

 .play_button{
  display: none
}
.card :hover .play_button{
  display: inline;
  position: relative;
  top:200px;
  left:50px;
}

.card :hover .img-rendered{
  opacity: 0.5;
}