
.Ani-Heading{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 3rem;
    color: white;
    font-weight: 800;
}

.Ani-subHeading{
   font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
   font-size: 1rem;
   color: white;
}